// Bootstrap overrides

$font-family-sans-serif: "Sanchez", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$body-bg: #FFD597;
$primary: #662924;
$border-radius: 0;

// $input: #F0E1CF;

// End of Bootstrap overrides